<table class="table table-bordered table-striped">
  <tr>
  <%= for field <- @fields do %>
    <th><%= field %></th>
  <% end %>
</tr>
  <%= for instance <- @instances do %>
  <tr>
    <%= for field <- @fields do %>
      <td><%= Map.get(instance, field) |> EctoAdmin.View.field %></td>
    <% end %>
  </tr>
  <% end %>
</table>

<a href="/admin/<%= @resource_path %>/new" class="btn btn-primary">New <%= @resource %></a>
